.container{
    display: flex;    
    gap: 100px;  
    
    
}


 .imageContainer{
    flex: 1;
   
    position: relative;
   
}


.image{
    object-fit: cover;
    border-radius: 5px;
  
    
   
   
}
.formContainer{
    flex: 1;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 11px;
   
} 

.form input,
.form textarea {
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bg-soft);
    color: var(--text);

}

.form button{
    padding: 20px;
    background-color: var(--btn);
    outline: none;
    border: none;
    color: var(--text);
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}